<div>
  <div class="pitch">
    <div class="pitch-top">
      <div class="pitch-row">
        <template v-for="(p, i) in forwards">
          <pitch-player
            :pos="'offence'"
            :player="p"
            :filtered-positions="filteredPositions"
            @add-player="addPlayer"
            :index="i"
          ></pitch-player>
        </template>
      </div>
      <div class="pitch-row">
        <template v-for="(p, i) in midfielders">
          <pitch-player
            :pos="'midfield'"
            :player="p"
            :filtered-positions="filteredPositions"
            @add-player="addPlayer"
            :index="i"
          ></pitch-player>
        </template>
      </div>
      <div class="pitch-row">
        <template v-for="(p, i) in defenders">
          <pitch-player
            :pos="'defence'"
            :player="p"
            :filtered-positions="filteredPositions"
            @add-player="addPlayer"
            :index="i"
          ></pitch-player>
        </template>
      </div>
      <div class="pitch-row">
        <template v-for="(p, i) in goalkeepers">
          <pitch-player
            :pos="'goalkeeper'"
            :player="p"
            :filtered-positions="filteredPositions"
            @add-player="addPlayer"
            :index="i"
          ></pitch-player>
        </template>
      </div>
    </div>
  </div>
</div>
