<div class="pitch" style="position: relative">
  <img :src="pitchSrc" alt="" />
  <div v-if="formation">
    <template v-for="[key,pos] in Object.entries(formation)">
      <q-btn
        :style="`position: absolute;left: ${pos.x}%; top: ${pos.y}%; transform: translate(-50%);`"
        outline
        round
        color="primary"
        icon="person_add"
      >
        <q-menu auto-close>
          <q-list>
            <q-item clickable v-for="player in team" :key="player.id">
              <q-item-section
                ><span v-text="player.name"></span
              ></q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </template>
  </div>
</div>
