{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <div class="flex justify-between">
          <div>
            <q-btn
              :disable="!api_key"
              unelevated
              color="primary"
              label="New Competition"
              @click="openCompetitionDialog"
            >
              <q-tooltip v-if="api_key">
                Create a new Fantasy League
              </q-tooltip>
              <q-tooltip v-else> Add a API key first </q-tooltip>
            </q-btn>
          </div>
          <div>
            <settings
              :apikey="api_key"
              @save-settings="saveSettings"
            ></settings>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Competitions</h5>
          </div>
          <!-- <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div> -->
        </div>
        <q-table
          :data="leagues"
          :columns="leaguesColumns"
          row-key="id"
          selection="single"
          :selected.sync="selectedLeague"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  size="sm"
                  color="accent"
                  round
                  dense
                  @click="props.expand = !props.expand"
                  :icon="props.expand ? 'expand_less' : 'expand_more'"
                />
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.value }
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="sm"
                  @click="deleteCompetition(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="q-my-md">
                  <q-btn
                    color="primary"
                    label="Refresh Players"
                    @click="refreshPlayers(props.row.id)"
                  ></q-btn>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  {% include "fantasyleague/_admin_dialogs.html" %}
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}

<script src="{{ url_for('fantasyleague_static', path='js/utils.js') }}"></script>

<script src="{{ url_for('fantasyleague_static', path='components/settings/settings.js') }}"></script>

<script src="{{ url_for('fantasyleague_static', path='js/admin.js') }}"></script>

{% endblock %}
