{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 q-gutter-y-md">
    <q-tabs
      v-model="tab"
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
    >
      <q-tab name="team" label="Team"></q-tab>
      <q-tab name="transfers" label="Transfers"></q-tab>
      <q-tab name="board" label="Leader Board"></q-tab>
    </q-tabs>
    <q-card>
      <q-tab-panels v-model="tab" animated>
        <!-- TEAM -->
        <q-tab-panel name="team">
          <q-card-section>
            <div class="text-center">
              <h5>Fantasy League</h5>
              <div v-if="!state.hasTeam">Choose your team...</div>
            </div>
          </q-card-section>
          <q-card-section class="row flex-center q-col-gutter-md">
            <div v-if="state.hasTeam" class="col-12 col-lg-6">
              <div class="q-mt-md">
                <q-list bordered padding>
                  <q-item-label header>Starting Eleven</q-item-label>
                  <q-item
                    clickable
                    v-ripple
                    v-for="player in eleven"
                    :key="player.id"
                  >
                    <q-item-section top avatar>
                      <q-avatar round>
                        <img :src="player.photo" />
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label
                        ><span v-text="player.name"></span
                      ></q-item-label>
                      <q-item-label caption
                        ><span v-text="player.position"></span
                      ></q-item-label>
                    </q-item-section>
                    <q-item-section side top>
                      <q-badge :label="player.points"></q-badge>
                    </q-item-section>
                  </q-item>
                  <q-separator></q-separator>
                  <q-item-label header>Substitutes</q-item-label>
                  <q-item
                    clickable
                    v-ripple
                    v-for="player in subs"
                    :key="player.id"
                  >
                    <q-item-section top avatar>
                      <q-avatar round>
                        <img :src="player.photo" />
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label
                        ><span v-text="player.name"></span
                      ></q-item-label>
                      <q-item-label caption
                        ><span v-text="player.position"></span
                      ></q-item-label>
                    </q-item-section>
                    <q-item-section side top>
                      <q-badge :label="player.points"></q-badge>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
            <div
              :class="state.hasTeam ? 'col-12 col-lg-6':'col-12'"
              class="pitch-wrapper"
            >
              <pitch
                @add-player="addToTeam"
                @update-lineup="updateLineUp"
                :team="state.team"
              ></pitch>
              <div>
                <q-btn
                  v-if="!state.hasTeam"
                  color="primary"
                  label="Save Team"
                  @click="saveTeam"
                  :disable="state.team.length < 14"
                  class="q-mt-md"
                ></q-btn>
              </div>
            </div>
          </q-card-section>
          <div class="absolute-top-left q-ma-sm">
            <q-btn
              type="a"
              flat
              round
              color="primary"
              icon="keyboard_arrow_left"
              href="/fantasyleague"
            >
              <q-tooltip>Back</q-tooltip>
            </q-btn>
          </div>
        </q-tab-panel>
        <!-- TRANSFERS -->
        <q-tab-panel name="transfers">
          <div class="text-h6">Coming soon...</div>
        </q-tab-panel>
        <!-- LEADER BOARD -->
        <q-tab-panel name="board">
          <div class="q-pa-md">
            <q-table
              title="Leader Board"
              :data="board"
              :columns="boardColumns"
              row-key="name"
            >
              <template v-slot:body-cell="props">
                <q-td :props="props">
                  <span
                    :class="props.row.name == state.participant.name ? 'text-weight-bold' : ''"
                    v-text="props.value"
                  ></span>
                </q-td>
              </template>
            </q-table>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <q-card v-if="!state.hasTeam && tab == 'team'">
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Players</h5>
          </div>
        </div>
        <q-table
          style="height: calc(100vh - 300px)"
          :data="filteredPlayers"
          :columns="playersColumns"
          row-key="id"
          virtual-scroll
          :pagination.sync="playersPagination"
          :rows-per-page-options="[0]"
          selection="multiple"
          :selected.sync="selected"
          @selection="selectedFn"
        >
          <template v-slot:top-left>
            <q-select
              style="min-width: 150px"
              filled
              v-model="filterPosition"
              :options="positionOptions"
              label="Filter by..."
            ></q-select>
          </template>
          <template v-slot:top-right>
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>
</div>

{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ url_for('fantasyleague_static', path='js/store.js') }}"></script>
<script>
  const participant = JSON.parse('{{ participant | tojson }}')
  const board = JSON.parse('{{ board | tojson }}')
  const team = JSON.parse('{{ team | tojson }}')
  console.log('board', board)
  // const $ = new StateStore({
  //   participant,
  //   league,
  //   team
  // })
  // const unsubscribe = $.subscribe(newState => {
  //   console.log('State changed:', newState)
  // })
</script>
<script src="{{ url_for('fantasyleague_static', path='js/utils.js') }}"></script>

<script src="{{ url_for('fantasyleague_static', path='components/pitch/pitch.js') }}"></script>
<script src="{{ url_for('fantasyleague_static', path='components/pitch-player/pitch-player.js') }}"></script>

<script src="{{ url_for('fantasyleague_static', path='js/competition.js') }}"></script>

<style scoped>
  .pitch-wrapper {
    display: block;
  }

  .pitch {
    position: relative;
    width: 100%;
    height: 540px;
    background: linear-gradient(
      to bottom,
      rgba(46, 125, 50, 1) 5%,
      rgba(46, 125, 50, 0.5) 100%
    );
    /* background: #2e7d32; */
    /* box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06);
    perspective: 800px; */
    overflow: hidden;
  }

  .pitch-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
    height: inherit;
  }

  .pitch-top::before {
    content: '';
    position: absolute;
    top: 0;
    background-image: url("{{ url_for('fantasyleague_static', path='images/pitch.svg') }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top;
    min-height: 442px;
    left: 50%;
    transform: translateX(-50%);
    width: 1152px;
    height: 500px;
    pointer-events: none;
  }

  .pitch-row {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
    min-height: 82px;
  }

  .pitch-player {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    min-height: 90px;
    margin-right: 6px;
  }

  .pitch-player:last-child {
    margin-right: 0;
  }

  .pitch-player--wrapper {
    display: block;
    width: inherit;
    position: relative;
    margin: 0 auto;
  }

  .pitch-player--pos {
    background: var(--q-color-dark);
    border-radius: 4px;
    display: flex;
    font-size: 10px;
    line-height: 1.1;
    margin: -6px auto 0 auto;
    margin-top: -6px;
    position: relative;
    padding: 3px 15px;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 600px) {
    .pitch-wrapper {
      display: grid;
      grid-template-rows: auto 1fr auto;
      align-self: stretch;
    }
    .pitch-player {
      width: 88px;
      margin-right: 10px;
    }
  }
</style>
{% endblock %}
