{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <div class="row items-center">
          <h5 class="col">Fantasy League</h5>
          <div v-if="isAdmin" class="col-auto">
            <q-btn
              @click="goToAdmin"
              color="primary"
              label="Admin Area"
            ></q-btn>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="col-12">
          <h6>Available Competitions</h6>
        </div>
        <div
          class="q-pa-md items-start q-gutter-md"
          style="
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: auto;
          "
        >
          <q-card class="full-height" v-for="c in competitions" :key="c.id">
            <img
              basic
              :src="c.competition_logo"
              style="
                background-color: white;
                padding: 1rem;
                max-height: 60%;
                width: auto;
                margin: 0 auto;
              "
            />

            <q-card-section>
              <div class="text-h6" v-text="c.name"></div>
              <div class="text-subtitle2" v-text="c.competition_type"></div>
            </q-card-section>

            <q-card-section v-if="c.description" class="q-pt-none">
              <div v-text="c.description"></div>
            </q-card-section>

            <q-card-actions>
              <q-btn
                v-if="userCompetitions.find(p => p.fantasyleague_id == c.id)"
                class="full-width"
                color="positive"
                @click="openCompetitionURL(c.id)"
                >Open</q-btn
              >
              <q-btn
                v-else
                class="full-width"
                color="primary"
                @click="openFormDialog(c.id)"
                >Join</q-btn
              >
            </q-card-actions>
          </q-card>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-card-section class="q-pb-none">
        <div class="text-h6">Join Fantasy League</div>
      </q-card-section>
      <q-form @submit="sendFormData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.name"
          label="Display Name *"
        ></q-input>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="formDialog.data.wallet == null || formDialog.data.name == null"
            type="submit"
            >Join</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
  <!-- PAYMENT DIALOG -->
  <q-dialog v-model="paymentDialog.show" position="top">
    <q-card
      v-if="!paymentDialog.paymentRequest"
      class="q-pa-lg q-pt-xl lnbits__dialog-card"
    >
    </q-card>
    <q-card v-else class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-center q-mb-lg">
        <a
          class="text-secondary"
          :href="'lightning:' + paymentDialog.paymentRequest"
        >
          <q-responsive :ratio="1" class="q-mx-xl">
            <lnbits-qrcode
              :value="'lightning:' + paymentDialog.paymentRequest.toUpperCase()"
            ></lnbits-qrcode>
          </q-responsive>
        </a>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          outline
          color="grey"
          @click="copyText(paymentDialog.paymentRequest)"
          >Copy invoice</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        isAdmin: false,
        competitions: [],
        userCompetitions: [],
        formDialog: {
          show: false,
          data: {}
        },
        paymentDialog: {
          show: false,
          paymentRequest: null,
          paymentHash: null,
          dismissMsg: () => {},
          paymentChecker: null
        }
      }
    },
    computed: {},
    methods: {
      goToAdmin() {
        window.location.href = '/fantasyleague/admin'
      },
      openCompetitionURL(id) {
        const participant = this.userCompetitions.find(
          c => c.fantasyleague_id == id
        )
        window.location.href = `/fantasyleague/${participant.id}`
      },
      openFormDialog(id) {
        this.formDialog.data.fantasyleague_id = id
        this.formDialog.show = true
      },
      async sendFormData() {
        let data = {
          wallet: this.formDialog.data.wallet,
          name: this.formDialog.data.name,
          fantasyleague_id: this.formDialog.data.fantasyleague_id
        }
        let res = await LNbits.api.request(
          'POST',
          '/fantasyleague/api/v1/participants/join',
          this.g.user.wallets[0].adminkey,
          data
        )
        if (res.data) {
          this.paymentDialog.paymentRequest = res.data.payment_request
          this.paymentDialog.paymentHash = res.data.payment_hash
          this.formDialog.show = false
          this.openPaymentDialog()
        }
      },
      openPaymentDialog() {
        this.paymentDialog.show = true
        this.formDialog.dismissMsg = this.$q.notify({
          timeout: 0,
          message: 'Waiting for payment...'
        })
        this.paymentDialog.paymentChecker = setInterval(() => {
          LNbits.api
            .request(
              'GET',
              `/fantasyleague/api/v1/participants/join/${this.formDialog.data.fantasyleague_id}/${this.paymentDialog.paymentHash}`
            )
            .then(response => {
              if (response.data.paid) {
                this.closePaymentDialog()
              }
            })
            .catch(error => {
              LNbits.utils.notifyApiError(error)
            })
        }, 3000)
      },
      async closePaymentDialog() {
        clearInterval(this.paymentDialog.paymentChecker)
        this.formDialog.dismissMsg()
        this.resetPaymentDialog()
        this.resetData()
        this.$q.notify({
          type: 'positive',
          message: 'Sats received, thanks!',
          icon: 'thumb_up'
        })
        setTimeout(() => {
          // Refresh page (necessary to update userCompetitions)
          location.reload()
        }, 1000)
      },
      resetData() {
        this.formDialog.data = {}
      },
      resetPaymentDialog() {
        this.paymentDialog = {
          show: false,
          paymentRequest: null,
          paymentHash: null,
          dismissMsg: () => {},
          paymentChecker: null
        }
      }
    },
    async created() {
      this.competitions = JSON.parse('{{ competitions | tojson }}')
      this.userCompetitions = JSON.parse('{{ user_competitions | tojson }}')
      this.isAdmin = this.g.user.admin
      console.log(this.userCompetitions)
    }
  })
</script>
{% endblock %}
